{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <h1>Bets History</h1>
    <div class="col-lg-9">
        {% for bet in  bets %}
            <div class="list-group-item">
                <h3>{{ bet.user }} bet with €{{ bet.amount }} </h3>
                <p>for a game {{ bet.game }}
                    <br>
                    {% if bet.team_a_win %}
                        that {{ bet.game.team_a.name }} will win the game
                    {% elif bet.team_b_win %}
                        that {{ bet.game.team_b.name }} will win the game
                    {% elif bet.draw %}
                        that it will be a draw
                    {% endif %}

                </p>
                {% if user.is_admin %}
                    {% if bet.bet_won %}
                        {#                    {% if user == bet.user and bet.bet_won %}#}
                        <h4 style="background-color: #71dd8a">This bet won</h4>
                    {% endif %}
                    {% if bet.bet_loose %}
                        <h4 style="background-color: red"> This bet loose</h4>
                    {% endif %}
                {% endif %}
                {% if user == bet.user and bet.bet_won %}
                    {#                    {% if user == bet.user and bet.bet_won %}#}
                    <h4 style="background-color: #71dd8a">And this bet won!!!</h4>

                {% endif %}
                {% if user == bet.user and bet.bet_loose %}
                    <h4 style="background-color: red"> And this bet loose</h4>

                {% endif %}
            </div>
        {% endfor %}
    </div>


{% endblock content %}