{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <script src="{% static 'js/jquery.js' %}"></script>
    {% if user.is_authenticated %}
        <h1 class="my-4">Serg's Totoooo!</h1>
        <div class="container d-flex p-2">
        <div class="col-lg-3">
            <div class="list-group">
                <div class="row">
                    <h3>List of games for Contest <br> {{ contest.contest_start_date }}</h3>
                    {% for contest in contests %}
                        <a href="{% url 'contest_games' contest.slug %}" class="list-group-item">Contest
                            on {{ contest.contest_start_date }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            {% for game in  games %}
                    <div class="list-group-item">
                        <div class="list-group-horizontal">
                            {% if game.game_is_played %}
                                <h6> Game is played on {{ game.contest.contest_start_date }}
                                    at {{ game.game_date_time }}
                                    With a score
                                    <b><u>{{ game.score_team_a }} : {{ game.score_team_b }}</u></b></h6>
                                <h6>
                                    <u>{% if game.score_team_a > game.score_team_b %}<b>{% endif %}
                                        {{ game.team_a }} {{ game.score_team_a }}</b>
                                        <b> :</b>
                                        {% if game.score_team_b == game.score_team_a %} {% endif %}

                                        {% if game.score_team_b > game.score_team_a %}<b>{% endif %}
                                        {{ game.score_team_b }} {{ game.team_b }}</u></b>
                                    <a href="{% url 'bets_winners' game.slug %}" class="list-group-item" method="post"
                                       style="background-color: #d4edda">
                                        See winning bets</a>
                                </h6>
                            {% elif game.game_is_started %}
                                {% if user.is_admin %}
                                    <a href="{% url 'update_game' game.slug %}" style="background-color: lawngreen">
                                        ADMIN TASK: Update Game
                                        {{ game.game_date_time }}</a>
                                {% endif %}
                                <h6> Game is already started! {{ game.contest.contest_start_date }}
                                    at {{ game.game_date_time }}
                                    Current score is
                                    <b><u>{{ game.score_team_a }} : {{ game.score_team_b }}</u></b></h6>
                                <h6>
                                    <u>{{ game.team_a }}</u>
                                </h6>
                                <h6>playing NOW against</h6>
                                <h6>
                                    <u>{{ game.team_b }}</u>
                                </h6>
                            {% elif game.game_is_started is not True %}
                                <h6>
                                    {% if not user.is_admin %}
                                        <a href="{% url 'game' game.pk %}" style="background-color: palegoldenrod">
                                            Make your Bet for Game at
                                            {{ game.game_date_time }}</a>
                                    {% endif %}

                                    {% if user.is_admin %}
                                    <a href="{% url 'update_game' game.slug %}" style="background-color: lawngreen">
                                        ADMIN TASK: Update Game
                                        {{ game.game_date_time }}</a>
                                {% endif %}
                                    <br>
                                </h6>
                                <h6>
                                    <u>{{ game.team_a }}</u>
                                </h6>
                                <h6>
                                    Will play against
                                </h6>
                                <h6>
                                    <u>{{ game.team_b }}</u>
                                </h6>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
        </div>
        </div>
    {% endif %}
{% endblock content %}
