{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <h1>Show My Teams</h1>
    <a class="button" href="{% url 'add_new_team' %}"><button style="background-color:palegoldenrod">Add New Team</button></a>
    <div class="col-lg-9">
        <div class="row list-group-item" style="background-color:#dddddd;">
            {% for team in  my_teams %}
                <div class="list-group-item">
                    <h3>{{ team.name }}</h3>
                    <li>
                        <div class="dropdown">
                            <a href="#" data-toggle="dropdown" role="button">
                                Add Team to a Contest
                            </a>

                            <br><br>
                            <ul class="dropdown-menu">
                                {% for contest in contests %}
                                    <li class="nav-item">
                                        <a class="dropdown-item"
                                           href="{% url 'add_participant' contest.slug team.slug %}">
                                            {{ contest.contest_start_date }}</a>
                                    </li>

                                {% endfor %}
                            </ul>

                        </div>
                    </li>
                    <p>{{ team.description }}</p>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>

{% endblock content %}